# --- General ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp
*.swo
*~
.vscode-ctags
*.json

# --- Embedded (Build Artifacts) ---
# Compilation outputs
*.o
*.ko
*.obj
*.elf
*.hex
*.bin
*.map
*.lst
*.lss
*.sym
*.d
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Specific Build Directories
Debug/
Release/
Build/
build/
bin/
obj/

# Executables
*.exe
*.out
*.app

# Debugging
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# --- Mobile (Flutter/Dart) ---
mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/.pub-cache/
mobile_app/build/
mobile_app/android/.gradle/
mobile_app/android/local.properties
mobile_app/ios/.symlinks/
mobile_app/ios/Pods/
mobile_app/lib/generated_plugin_registrant.dart

# --- Dashboard (Web/Node) ---
Dashboard/node_modules/
Dashboard/dist/
Dashboard/.env
Dashboard/npm-debug.log*
Dashboard/yarn-debug.log*
Dashboard/yarn-error.log*
Dashboard/coverage/
