# --- General ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp
*.swo
*~
.vscode-ctags
*.json

# --- Embedded (Build Artifacts) ---
# Compilation outputs
*.o
*.ko
*.obj
*.elf
*.hex
*.bin
*.map
*.lst
*.lss
*.sym
*.d
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Specific Build Directories
Debug/
Release/
Build/
build/
bin/
obj/

# Executables
*.exe
*.out
*.app

# Debugging
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# --- Mobile (Flutter/Dart) ---
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/build/
**/android/.gradle/
**/android/local.properties
**/ios/.symlinks/
**/ios/Pods/
**/generated_plugin_registrant.dart

# --- Dashboard (Web/Node) ---
**/node_modules/
**/dist/
**/.env
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/coverage/

BackUp/
**release
Hardware/schematic/Smart_Energy_Management_System_Design/*
